@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #133a94,  rgb(104, 116, 255));
}

div{
    margin-top: 15px;
    color: aliceblue;
}

div#form{
    background-color: #7982e8a4;
    border-radius: 7.5px;
    width: 400px;
    padding: 25px;
    text-align: center;
    position: relative;
    box-shadow: 2.5px 2.5px 7.5px #41478e84;
}

div#stars{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(1px 1px at 57% 15%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 40% 25%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 33% 12%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 19% 27%, #fff, transparent),
    radial-gradient(1px 1px at 25% 15%, #fff, transparent),
    radial-gradient(1.5px 1.5px at 50% 25%, #fff, transparent);
}

.regs{
    font-weight: bold;
    text-decoration: none;
}

.regs:hover{
    text-decoration: underline;
}

button{
    height: 50px;
    width: 250px;
    margin-top: 15px;
    background-color: #5c6aff;
    border-radius: 7.5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover{
    background-color: aliceblue;
    transform: translateY(-5px);
    color: #7982e8;
}

.input{
    width: 225px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #4551d48c;
    color: rgb(255, 255, 255);
}

.input::placeholder{
    color: #fff;
}

div#box-remember{
    text-align: left;
    font-size: 12.5px;
    display: flex;
    justify-content: space-evenly;
    accent-color: #4917be;
}

div > label > input#check{
    cursor: pointer;
}